# Vercel Environment Variables
# 不要把真实 Token / 密码提交到 GitHub。
GITHUB_OWNER=wlzts
GITHUB_REPO=AI_Page
GITHUB_BRANCH=main
RESUME_DATA_PATH=projects/playable-resume/resume-data.js
PROJECTS_DATA_PATH=projects-data.js
GITHUB_TOKEN=github_pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADMIN_PASSWORD=change-to-a-strong-password
SESSION_SECRET=change-to-at-least-32-random-characters
ALLOWED_ORIGINS=https://wlzts.github.io
